<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/syntax.css">

			<style>
				div {
					padding-top: 5px;
					padding-bottom: 5px;
					padding-right: 5px;
					padding-left: 30px;
				}
			</style>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="{{ site.url }}/index.html">freija.net</a></li>
	        		<li><a href="{{ site.url }}/blog">blog</a></li>
							<li><a href="{{ site.url }}/projects.html">projects</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
		</div><!-- /.container -->
		<footer>
			<ul>
				<li>Freija.net 2018</li><br>
				<li>GH: <a href="https://github.com/freija">github.com/freija</a></li><br>
			</ul>
		</footer>

		</body>
	</html>
